

.calendarBox{
    display: flex;
    flex-direction: column;
    width: 50%;
     
}


.gridBox {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 15% 15% 14% ;
    grid-template-rows: 10% 16% 16% 16% 16% 16% ;
    height: 200px;

}


.moisCard{
    text-align: center;
    background-color: rgb(235, 235, 240);
    @include borderRadius(); 

}

.dayBox {
    background-color: rgb(89, 89, 228);
    @include borderRadius(); 
}

.ceJour {
    background-color: rgb(139, 139, 221);
    color: rgb(83, 79, 79);


}
.dayBox:hover{
    background-color: rgb(139, 139, 221);
    color: rgb(83, 79, 79);

}

#changerMois{
    background-color: rgb(235, 235, 240);
    @include borderRadius(); 
    margin-bottom: 1%;
    }

    

.btn-success{
    margin-top: 2%;
}



.dayCard {

    background-color: rgb(235, 235, 240);
    @include borderRadius(); 
    text-align: center; 
    -webkit-text-fill-color: rgb(60, 68, 68);
    font-size: 0.7em;
    height: 32px;
    }


    .dateBox{
        background-color: $lightColor;
       @include borderRadius(); 
       height: 100%;
       
       }