.calendarBox {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.gridBox {
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 15% 15% 14%;
  grid-template-rows: 10% 16% 16% 16% 16% 16%;
  height: 200px;
}

.moisCard {
  text-align: center;
  background-color: rgb(235, 235, 240);
  border: solid 1px;
  border-radius: 3px;
}

.dayBox {
  background-color: rgb(89, 89, 228);
  border: solid 1px;
  border-radius: 3px;
}

.ceJour {
  background-color: rgb(139, 139, 221);
  color: rgb(83, 79, 79);
}

.dayBox:hover {
  background-color: rgb(139, 139, 221);
  color: rgb(83, 79, 79);
}

#changerMois {
  background-color: rgb(235, 235, 240);
  border: solid 1px;
  border-radius: 3px;
  margin-bottom: 1%;
}

.btn-success {
  margin-top: 2%;
}

.dayCard {
  background-color: rgb(235, 235, 240);
  border: solid 1px;
  border-radius: 3px;
  text-align: center;
  -webkit-text-fill-color: rgb(60, 68, 68);
  font-size: 0.7em;
  height: 32px;
}

.dateBox {
  background-color: rgb(235, 235, 240);
  border: solid 1px;
  border-radius: 3px;
  height: 100%;
}

.formPage {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  color: rgba(82, 76, 76, 0.856);
  padding: 2% 2%;
  background-color: rgb(235, 235, 240);
  border: solid 1px;
  border-radius: 3px;
  box-shadow: 0.55em 0.55em;
}
.formPage button {
  background-color: rgba(82, 76, 76, 0.856);
  border: solid 1px;
  border-radius: 3px;
}

.objectifCard {
  background-color: rgb(90, 53, 194);
  border: solid 1px;
  border-radius: 3px;
  font-weight: 500;
  color: rgb(202, 178, 39);
}

.content {
  width: 40%;
  background-color: rgb(235, 235, 240);
  border: solid 1px;
  border-radius: 3px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dateBox {
  background-color: rgb(235, 235, 240);
}

#formDelete {
  width: 50%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
}
.infoContainer .infoCard {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgb(255, 255, 255);
  font-size: 0.66em;
  color: rgb(14, 10, 8);
  min-height: 100px;
  margin: 2% 2%;
  border: 1.5px solid;
  border-radius: 5px;
}
.infoContainer .infoCard .dateInfo {
  font-size: x-small;
  color: rgb(43, 40, 37);
}

.ficheTitle {
  font-size: larger;
}

.btn {
  color: rgb(14, 13, 13);
}

.navbar {
  height: 30px;
  border: 0.1px solid;
}

.nav-text {
  font-size: smaller;
}

h1, h2, h3, h4 {
  font-size: small;
}

.nav-text {
  color: rgb(0, 0, 0);
}

.container {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: space-around;
  max-width: 100%;
}

.d-none {
  display: none;
}

.btnSupprimer {
  border-radius: 30px;
  border: solid 1px black;
}

.footer {
  text-align: center;
}

.dateObjectif {
  font-size: xx-small;
  background-color: rgb(0, 0, 0);
  color: white;
}

.checkBoxes {
  display: inline;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*# sourceMappingURL=main.css.map */
