<div class="calendarBox">
    <button class="btn" id="changerMois">Suivant</button>
    <h2 class="moisCard"></h2>
    <div class="gridBox">

        <div class="dayCard"> Lundi </div>
        <div class="dayCard"> Mardi</div>
        <div class="dayCard"> Mercredi</div>
        <div class="dayCard"> Jeudi</div>
        <div class="dayCard"> Vendredi</div>
        <div class="dayCard"> Samedi</div>
        <div class="dayCard"> Dimanche</div>
    </div>
    <div class="dateBox">
        
    </div>
</div>