<%- include('../partiel/header')  %>
<div class="container">
    <button class="btnDnone btn btn-light" id="btnObjectif">Enregistrer un objectif</button>
    <button class="btnDnone btn btn-light" id="btnReport">Enregister un rapport de blocage</button>
    <button class="btnDnone btn btn-light" id="btnInfo">Enregistrer un rappel</button>

    <form action="/profile/form/objectif" id="formObjectif" method="POST" class="formPage d-none">
        
        <label for="objectifText"> Objectif</label>

        <input type="text" name="objectifText">
        <button class="" type="submit"> Valider</button>
    </form>

    <form action="/profile/form/report" id="formReport" method="POST" class="formPage d-none">
        <label for="titleReport"> Titre du blocage</label>
        <input type="text" name="titleReport">
        <label class="" for="report">Decris le problème rencontré</label>
        <textarea name="report" id="" cols="30" rows="10"></textarea>
        <label for="success">Problème resolu</label>
        <div class="checkBoxes">
        <input type="checkbox" id="checkbox" name="success">
        
        </div>
        <button type="submit">Valider</button>
    </form>

    <form class="formPage d-none" action="/profile/form/info" id="formInfo" method="POST">
        <label for="titleInfo"> Titre du rappel</label>
        <input type="text" name="titleInfo">
        <label for="categorie"> categorie</label>
        <select name="categorie">
            <% for( let index = 0; index < selecteur.length; index++ ) { %>
            <option value="<%= selecteur[index] %>"><%= selecteur[index] %>  </option>
            <% } %>
        </select>
        <label class="" for="info">Decris le rappel</label>
        <textarea name="info" id="" cols="30" rows="10"></textarea>
        <button type="submit">Valider</button>
    </form>
    

</div>
<script src="/jsClient/form.js" defer></script>
<%- include('../partiel/footer') %>