<%- include('../partiel/header')  %>


<% for( let index = 0; index < info.length; index++ ) { %>
    <div class="reportCard">
        <%= report[index]["details"] %> 
    </div>
<% } %>

<%- include('../partiel/footer') %>